/game/*.bin
/game/maps/*

/game/scripts/npc/npc_abilities_custom.txt
/game/scripts/npc/npc_items_custom.txt
/game/scripts/npc/npc_units_custom.txt
/game/scripts/npc/npc_heroes_custom.txt

/game/scripts/vscripts/lib/debug/exscript.lua

/game/resource/addon_schinese.txt
/game/resource/addon_chinese.txt
/game/resource/addon_russian.txt
/game/resource/addon_english.txt

/game/panorama_debugger.cfg 
/game/cache_73911256.soc
/game/demoheader.tmp
/game/network_measurement.txt
/game/rich_presence_persistent_data.txt
/game/server_log.txt

*.code_workspace
*.bat