.GameInfoMain
{
    width:100%;
    flow-children: down;
}
 
Label
{
    font-size: 18px;
    color: #999999;
    vertical-align: top;
}
 
#Title
{
    flow-children: right;
}

#TitleIcon
{
    width: 64px;
    height: 64px;
    vertical-align: center;
}

#TitleName
{
    color: #cccccc;
    font-size: 64px;
    margin-left: 16px;
    margin-top: 16px;
    text-transform: uppercase;
    vertical-align: center;
}

#BriefDescription
{
}


#FarmText,
#BossText,
#ChangeHeroText,
#ChangeHeroGodText,
#TeleportText,
{
    width: 50%;
}

.Header
{
	font-size: 18px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
}

#TipsHeader
{
	margin-top: -18px;
}

#TipsRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

.Header
{
	font-size: 18px;
    font-weight: bold;
	margin-top: 36px;
	text-transform: uppercase;
}

.TipText
{
	margin-left: 16px;
    margin-top: 0px;
}

.InfoRow
{
    flow-children: right;
    width: 100%;
}

#ObjectiveHeader
{
	margin-top: 18px;
}

#ThroneRow
{
    margin-top: -40px;
}

#ThroneText
{
    margin-top: 60px;
	text-align: right;
}

#ThroneImage
{
    margin-top: -20px;
    width: 240px;
    height: 352px;
}

#CoinsRow
{
    margin-top: -120px;
}

#CoinsImage
{
    width: 240px;
    height: 256px;
}

#CoinsText
{
    margin-top: 160px;
}

#ItemsRow
{
    margin-top: 0px;
}

#ItemsImage
{
    width: 240px;
    height: 192px;
}

#ItemsText
{
    margin-top: 40px;
	text-align: right;
}

#TipsHeader
{
	margin-top: -18px;
}

#TipsRow
{
	flow-children: down;
	margin-right: 92px;
	margin-top: 18px;
}

//cr

#Items
{
	flow-children:down-wrap;
	width: 90%;
	
}

.item_help_text
{
	font-size:20px;
	//font-weight: bold;
	margin-top: 50px;
}

.item_container
{
	//background-color:#AAAAAA12;
	flow-children:right-wrap;
	width: 100%;
	height: 195px;
	
}
#item_phys
{
	height: 270px;
	
}

#item_mag
{
	height: 150px;
	
}

#item_books
{
	height: 85px;
	
}

#item_other
{
	height:290px;
}
